USE [komis20]
GO
/****** Object:  Table [dbo].[klient]    Script Date: 02.06.2018 22:44:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[klient](
	[id_klienta] [int] IDENTITY(1,1) NOT NULL,
	[imie] [varchar](30) NOT NULL,
	[nazwisko] [varchar](50) NOT NULL,
	[email] [varchar](50) NULL,
	[kontakt] [varchar](20) NOT NULL,
	[login] [varchar](15) NOT NULL,
	[haslo] [varchar](15) NOT NULL,
	[typ] [char](1) NOT NULL,
 CONSTRAINT [PK_klient] PRIMARY KEY CLUSTERED 
(
	[id_klienta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[klient_dane]    Script Date: 02.06.2018 22:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[klient_dane](
	[id_adres] [int] IDENTITY(1,1) NOT NULL,
	[id_klient] [int] NOT NULL,
	[adres_linia_1] [varchar](50) NULL,
	[adres_linia_2] [varchar](50) NULL,
	[miasto] [varchar](40) NULL,
	[kraj] [varchar](25) NULL,
	[kod_pocztowy] [varchar](15) NULL,
	[klie_informacje_dodatkowe] [varchar](50) NULL,
 CONSTRAINT [PK_klient_dane] PRIMARY KEY CLUSTERED 
(
	[id_adres] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_klient_dane]    Script Date: 02.06.2018 22:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_klient_dane]
AS
SELECT        dbo.klient.imie, dbo.klient.nazwisko, dbo.klient.email, dbo.klient.kontakt, dbo.klient_dane.adres_linia_1, dbo.klient_dane.adres_linia_2, dbo.klient_dane.miasto, dbo.klient_dane.kod_pocztowy, dbo.klient.typ
FROM            dbo.klient LEFT OUTER JOIN
                         dbo.klient_dane ON dbo.klient.id_klienta = dbo.klient_dane.id_klient
WHERE        (dbo.klient.typ = 'S')
GO
/****** Object:  Table [dbo].[klient_preferencje]    Script Date: 02.06.2018 22:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[klient_preferencje](
	[id_klient_preferencje] [int] IDENTITY(1,1) NOT NULL,
	[id_klient] [int] NOT NULL,
	[producent] [varchar](50) NULL,
	[model] [varchar](50) NULL,
	[rok_produkcji] [int] NULL,
	[paliwo] [char](1) NULL,
	[nadwozie] [int] NULL,
	[pole_preferencji_1] [int] NULL,
	[pole_preferencji_2] [int] NULL,
	[pole_preferencji_3] [int] NULL,
 CONSTRAINT [PK_klient_preferencje] PRIMARY KEY CLUSTERED 
(
	[id_klient_preferencje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[samochod_wyposazenie]    Script Date: 02.06.2018 22:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[samochod_wyposazenie](
	[id_wyposazenie] [int] IDENTITY(1,1) NOT NULL,
	[informacje_opis] [varchar](50) NOT NULL,
 CONSTRAINT [PK_samochod_wyposazenie] PRIMARY KEY CLUSTERED 
(
	[id_wyposazenie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[typ_nadwozia]    Script Date: 02.06.2018 22:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[typ_nadwozia](
	[id_nadwozie] [int] IDENTITY(1,1) NOT NULL,
	[nadwozie_typ] [char](20) NOT NULL,
	[nadw_informacje_dodatkowe] [varchar](50) NULL,
 CONSTRAINT [PK_typ_nadwozia] PRIMARY KEY CLUSTERED 
(
	[id_nadwozie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_klienci_preferencje]    Script Date: 02.06.2018 22:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_klienci_preferencje]
AS
SELECT        dbo.klient.imie, dbo.klient.nazwisko, dbo.klient_preferencje.producent, dbo.klient_preferencje.model, dbo.klient_preferencje.rok_produkcji, dbo.klient_preferencje.paliwo,
                             (SELECT        nadwozie_typ
                               FROM            dbo.typ_nadwozia
                               WHERE        (dbo.klient_preferencje.nadwozie = id_nadwozie)) AS Expr1,
                             (SELECT        informacje_opis
                               FROM            dbo.samochod_wyposazenie
                               WHERE        (dbo.klient_preferencje.pole_preferencji_1 = id_wyposazenie)) AS Pref_1,
                             (SELECT        informacje_opis
                               FROM            dbo.samochod_wyposazenie AS samochod_wyposazenie_2
                               WHERE        (dbo.klient_preferencje.pole_preferencji_2 = id_wyposazenie)) AS Pref_2,
                             (SELECT        informacje_opis
                               FROM            dbo.samochod_wyposazenie AS samochod_wyposazenie_1
                               WHERE        (dbo.klient_preferencje.pole_preferencji_3 = id_wyposazenie)) AS Pref_3
FROM            dbo.klient INNER JOIN
                         dbo.klient_preferencje ON dbo.klient.id_klienta = dbo.klient_preferencje.id_klient
GO
/****** Object:  View [dbo].[v_preferencje_popularni_producenci]    Script Date: 02.06.2018 22:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_preferencje_popularni_producenci]
AS
select top 10 count(producent) as sztuk,producent
from v_klienci_preferencje
group by producent
order by sztuk desc
GO
/****** Object:  Table [dbo].[model]    Script Date: 02.06.2018 22:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[model](
	[id_model] [int] IDENTITY(1,1) NOT NULL,
	[prod_nazwa] [varchar](50) NOT NULL,
	[model_nazwa] [char](50) NOT NULL,
	[model_informacje_dodatkowe] [varchar](200) NULL,
 CONSTRAINT [PK_model] PRIMARY KEY CLUSTERED 
(
	[id_model] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[samochody_na_sprzedaz]    Script Date: 02.06.2018 22:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[samochody_na_sprzedaz](
	[id_samochod] [int] IDENTITY(1,1) NOT NULL,
	[id_model] [int] NOT NULL,
	[id_nadwozie] [int] NOT NULL,
	[cena] [int] NOT NULL,
	[vin] [varchar](30) NOT NULL,
	[przebieg] [int] NOT NULL,
	[data_produkcji] [int] NULL,
	[status] [char](1) NOT NULL,
	[kraj_pochodzenia] [char](3) NULL,
	[ksiazka_serwisowa] [char](1) NULL,
	[pojemnosc] [int] NULL,
	[paliwo] [char](1) NULL,
	[sam_informacje_dodatkowe] [varchar](50) NULL,
 CONSTRAINT [PK_samochody_na_sprzedaz] PRIMARY KEY CLUSTERED 
(
	[id_samochod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_samochody_do_sprzedania]    Script Date: 02.06.2018 22:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_samochody_do_sprzedania]
AS
SELECT        dbo.model.prod_nazwa, dbo.model.model_nazwa, dbo.samochody_na_sprzedaz.cena, dbo.samochody_na_sprzedaz.przebieg, dbo.samochody_na_sprzedaz.data_produkcji, dbo.samochody_na_sprzedaz.ksiazka_serwisowa, 
                         dbo.samochody_na_sprzedaz.pojemnosc, dbo.samochody_na_sprzedaz.paliwo, dbo.typ_nadwozia.nadwozie_typ, dbo.samochody_na_sprzedaz.status
FROM            dbo.model LEFT OUTER JOIN
                         dbo.samochody_na_sprzedaz ON dbo.model.id_model = dbo.samochody_na_sprzedaz.id_model LEFT OUTER JOIN
                         dbo.typ_nadwozia ON dbo.samochody_na_sprzedaz.id_nadwozie = dbo.typ_nadwozia.id_nadwozie
WHERE        (dbo.samochody_na_sprzedaz.status = 'W')
GO
/****** Object:  View [dbo].[v_samochody_sprzedane]    Script Date: 02.06.2018 22:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_samochody_sprzedane]
AS
SELECT        dbo.model.prod_nazwa, dbo.model.model_nazwa, dbo.samochody_na_sprzedaz.id_model, dbo.samochody_na_sprzedaz.cena, dbo.samochody_na_sprzedaz.przebieg, dbo.samochody_na_sprzedaz.data_produkcji, 
                         dbo.samochody_na_sprzedaz.ksiazka_serwisowa, dbo.samochody_na_sprzedaz.pojemnosc, dbo.samochody_na_sprzedaz.paliwo, dbo.typ_nadwozia.nadwozie_typ
FROM            dbo.model INNER JOIN
                         dbo.samochody_na_sprzedaz ON dbo.model.id_model = dbo.samochody_na_sprzedaz.id_model INNER JOIN
                         dbo.typ_nadwozia ON dbo.samochody_na_sprzedaz.id_nadwozie = dbo.typ_nadwozia.id_nadwozie
WHERE        (dbo.samochody_na_sprzedaz.status = 'S')
GO
/****** Object:  Table [dbo].[rezerwacje]    Script Date: 02.06.2018 22:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rezerwacje](
	[id_rezerwacji] [int] NOT NULL,
	[id_klienta] [int] NOT NULL,
	[id_samochodu] [int] NOT NULL,
	[data_do] [smalldatetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_rezerwacje_klient_samochod]    Script Date: 02.06.2018 22:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_rezerwacje_klient_samochod]
AS
SELECT        dbo.klient.imie, dbo.klient.nazwisko, dbo.klient.kontakt, dbo.rezerwacje.id_samochodu, dbo.rezerwacje.id_klienta, dbo.rezerwacje.data_do, dbo.samochody_na_sprzedaz.vin, dbo.samochody_na_sprzedaz.status, 
                         dbo.model.prod_nazwa, dbo.model.model_nazwa
FROM            dbo.klient INNER JOIN
                         dbo.rezerwacje ON dbo.klient.id_klienta = dbo.rezerwacje.id_klienta INNER JOIN
                         dbo.samochody_na_sprzedaz ON dbo.rezerwacje.id_samochodu = dbo.samochody_na_sprzedaz.id_samochod INNER JOIN
                         dbo.model ON dbo.samochody_na_sprzedaz.id_model = dbo.model.id_model
GO
/****** Object:  Table [dbo].[sprzedane]    Script Date: 02.06.2018 22:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sprzedane](
	[id_sprzedazy] [int] IDENTITY(1,1) NOT NULL,
	[id_samochod] [int] NOT NULL,
	[id_klient] [int] NOT NULL,
	[cena] [int] NOT NULL,
	[typ_platnosci] [char](1) NOT NULL,
	[data] [date] NOT NULL,
	[status] [char](1) NOT NULL,
	[id_sprzedawcy] [int] NOT NULL,
 CONSTRAINT [PK_sprzedane] PRIMARY KEY CLUSTERED 
(
	[id_sprzedazy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_raport_sprzedaz]    Script Date: 02.06.2018 22:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_raport_sprzedaz]
AS
SELECT        dbo.model.prod_nazwa, dbo.model.model_nazwa, dbo.samochody_na_sprzedaz.vin, dbo.sprzedane.cena, dbo.sprzedane.data, dbo.sprzedane.status, dbo.sprzedane.id_sprzedawcy, dbo.sprzedane.typ_platnosci, 
                         dbo.klient.imie, dbo.klient.nazwisko
FROM            dbo.samochody_na_sprzedaz INNER JOIN
                         dbo.sprzedane ON dbo.samochody_na_sprzedaz.id_samochod = dbo.sprzedane.id_samochod INNER JOIN
                         dbo.model ON dbo.samochody_na_sprzedaz.id_model = dbo.model.id_model INNER JOIN
                         dbo.klient ON dbo.sprzedane.id_sprzedawcy = dbo.klient.id_klienta
GO
/****** Object:  View [dbo].[wyniki_sprzedawcy]    Script Date: 02.06.2018 22:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[wyniki_sprzedawcy]
AS
SELECT        imie + ' ' + nazwisko AS Sprzedawca, SUM(cena) AS suma_sprzedazy
FROM            dbo.v_raport_sprzedaz
GROUP BY nazwisko, imie
GO
/****** Object:  View [dbo].[v_raport_typu_platnosci]    Script Date: 02.06.2018 22:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_raport_typu_platnosci]
AS
SELECT        SUM(cena) AS Suma, typ_platnosci, COUNT(prod_nazwa) AS ilość_sprzedanych_samochodów
FROM            dbo.v_raport_sprzedaz
GROUP BY typ_platnosci
GO
/****** Object:  View [dbo].[v_marki_na_stanie]    Script Date: 02.06.2018 22:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_marki_na_stanie]
AS
SELECT        prod_nazwa AS marka, COUNT(*) AS ilość_na_stanie
FROM            dbo.v_samochody_do_sprzedania
GROUP BY prod_nazwa, status
GO
/****** Object:  Table [dbo].[log_table]    Script Date: 02.06.2018 22:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log_table](
	[id] [varchar](5) NOT NULL,
	[log_1] [varchar](50) NOT NULL,
	[log_2] [varchar](50) NOT NULL,
	[log_3] [varchar](50) NOT NULL,
	[log_4] [varchar](50) NOT NULL,
	[tabela] [varchar](50) NOT NULL,
	[operacjaA] [char](1) NOT NULL,
	[operacjaB] [char](1) NOT NULL,
	[czas] [smalldatetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[powiazanie_wyposazenie_samochod]    Script Date: 02.06.2018 22:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[powiazanie_wyposazenie_samochod](
	[id_samochod] [int] NOT NULL,
	[id_wyposazenie] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[klient] ON 

INSERT [dbo].[klient] ([id_klienta], [imie], [nazwisko], [email], [kontakt], [login], [haslo], [typ]) VALUES (1, N'Drew', N'Sidwick', N'dsidwick0@sbwire.com', N'2185024143', N'OTYC7Z0UQw', N'7Kuopc', N'D')
INSERT [dbo].[klient] ([id_klienta], [imie], [nazwisko], [email], [kontakt], [login], [haslo], [typ]) VALUES (2, N'Esteban', N'Abraham', N'eabraham1@wsj.com', N'6013127101', N'ia7qh1rwol', N'zPCpXkR', N'D')
INSERT [dbo].[klient] ([id_klienta], [imie], [nazwisko], [email], [kontakt], [login], [haslo], [typ]) VALUES (3, N'Blakeley', N'Chinery', N'bchinery2@behance.net', N'9415205375', N'0DGI40ciugx', N'LoFFarZX8kT', N'D')
GO
SET IDENTITY_INSERT [dbo].[klient] OFF
SET IDENTITY_INSERT [dbo].[klient_dane] ON 

INSERT [dbo].[klient_dane] ([id_adres], [id_klient], [adres_linia_1], [adres_linia_2], [miasto], [kraj], [kod_pocztowy], [klie_informacje_dodatkowe]) VALUES (71, 7, N'85 Merchant Lane', NULL, N'Campamento', N'Honduras', NULL, N'tristique in')
INSERT [dbo].[klient_dane] ([id_adres], [id_klient], [adres_linia_1], [adres_linia_2], [miasto], [kraj], [kod_pocztowy], [klie_informacje_dodatkowe]) VALUES (72, 9, N'5179 Victoria Drive', NULL, N'Fushun', N'China', NULL, N'eget eros')
INSERT [dbo].[klient_dane] ([id_adres], [id_klient], [adres_linia_1], [adres_linia_2], [miasto], [kraj], [kod_pocztowy], [klie_informacje_dodatkowe]) VALUES (73, 11, N'6938 Dawn Lane', NULL, N'Dahongmen', N'China', NULL, N'facilisi cras non')
SET IDENTITY_INSERT [dbo].[klient_dane] OFF
SET IDENTITY_INSERT [dbo].[klient_preferencje] ON 

INSERT [dbo].[klient_preferencje] ([id_klient_preferencje], [id_klient], [producent], [model], [rok_produkcji], [paliwo], [nadwozie], [pole_preferencji_1], [pole_preferencji_2], [pole_preferencji_3]) VALUES (1, 26, N'Mitsubishi', N'Challenger', 2003, N'O', 6, 1, 19, 37)
INSERT [dbo].[klient_preferencje] ([id_klient_preferencje], [id_klient], [producent], [model], [rok_produkcji], [paliwo], [nadwozie], [pole_preferencji_1], [pole_preferencji_2], [pole_preferencji_3]) VALUES (2, 28, N'Dodge', N'D350 Club', 1993, N'O', 5, 2, NULL, 38)
INSERT [dbo].[klient_preferencje] ([id_klient_preferencje], [id_klient], [producent], [model], [rok_produkcji], [paliwo], [nadwozie], [pole_preferencji_1], [pole_preferencji_2], [pole_preferencji_3]) VALUES (3, 30, N'Mitsubishi', N'Chariot', 1992, N'B', 1, 3, NULL, 39)
SET IDENTITY_INSERT [dbo].[klient_preferencje] OFF
SET IDENTITY_INSERT [dbo].[model] ON 

INSERT [dbo].[model] ([id_model], [prod_nazwa], [model_nazwa], [model_informacje_dodatkowe]) VALUES (1, N'Mazda', N'Mazda3                                            ', NULL)
INSERT [dbo].[model] ([id_model], [prod_nazwa], [model_nazwa], [model_informacje_dodatkowe]) VALUES (2, N'Volkswagen', N'Tiguan                                            ', NULL)
INSERT [dbo].[model] ([id_model], [prod_nazwa], [model_nazwa], [model_informacje_dodatkowe]) VALUES (3, N'Buick', N'Century                                           ', NULL)
GO
SET IDENTITY_INSERT [dbo].[model] OFF
INSERT [dbo].[powiazanie_wyposazenie_samochod] ([id_samochod], [id_wyposazenie]) VALUES (223, 64)
INSERT [dbo].[powiazanie_wyposazenie_samochod] ([id_samochod], [id_wyposazenie]) VALUES (224, 60)
INSERT [dbo].[powiazanie_wyposazenie_samochod] ([id_samochod], [id_wyposazenie]) VALUES (225, 64)
GO
INSERT [dbo].[rezerwacje] ([id_rezerwacji], [id_klienta], [id_samochodu], [data_do]) VALUES (1, 199, 417, CAST(N'2018-06-10T00:00:00' AS SmallDateTime))
INSERT [dbo].[rezerwacje] ([id_rezerwacji], [id_klienta], [id_samochodu], [data_do]) VALUES (2, 20, 418, CAST(N'2018-06-11T00:00:00' AS SmallDateTime))
INSERT [dbo].[rezerwacje] ([id_rezerwacji], [id_klienta], [id_samochodu], [data_do]) VALUES (3, 22, 419, CAST(N'2018-06-11T00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[samochod_wyposazenie] ON 

INSERT [dbo].[samochod_wyposazenie] ([id_wyposazenie], [informacje_opis]) VALUES (1, N'2 drzwi')
INSERT [dbo].[samochod_wyposazenie] ([id_wyposazenie], [informacje_opis]) VALUES (2, N'3 drzwi')
INSERT [dbo].[samochod_wyposazenie] ([id_wyposazenie], [informacje_opis]) VALUES (3, N'4/5 drzwi')
SET IDENTITY_INSERT [dbo].[samochod_wyposazenie] OFF
SET IDENTITY_INSERT [dbo].[samochody_na_sprzedaz] ON 

INSERT [dbo].[samochody_na_sprzedaz] ([id_samochod], [id_model], [id_nadwozie], [cena], [vin], [przebieg], [data_produkcji], [status], [kraj_pochodzenia], [ksiazka_serwisowa], [pojemnosc], [paliwo], [sam_informacje_dodatkowe]) VALUES (223, 237, 1, 117652, N'1C4RJEAG2EC129439', 30000, 1989, N'S', N'pl ', N'N', 1600, N'B', N'orci mauris')
INSERT [dbo].[samochody_na_sprzedaz] ([id_samochod], [id_model], [id_nadwozie], [cena], [vin], [przebieg], [data_produkcji], [status], [kraj_pochodzenia], [ksiazka_serwisowa], [pojemnosc], [paliwo], [sam_informacje_dodatkowe]) VALUES (224, 124, 5, 86477, N'1G4GC5EG4AF154472', 200000, 2002, N'W', N'de ', N'T', 1600, N'O', N'nisi nam ultrices')
INSERT [dbo].[samochody_na_sprzedaz] ([id_samochod], [id_model], [id_nadwozie], [cena], [vin], [przebieg], [data_produkcji], [status], [kraj_pochodzenia], [ksiazka_serwisowa], [pojemnosc], [paliwo], [sam_informacje_dodatkowe]) VALUES (225, 183, 5, 114141, N'1G6AH5RX9F0144149', 80000, 1991, N'W', N'us ', N'N', 1500, N'B', N'faucibus orci luctus')
GO
SET IDENTITY_INSERT [dbo].[samochody_na_sprzedaz] OFF
SET IDENTITY_INSERT [dbo].[sprzedane] ON 

INSERT [dbo].[sprzedane] ([id_sprzedazy], [id_samochod], [id_klient], [cena], [typ_platnosci], [data], [status], [id_sprzedawcy]) VALUES (1, 223, 26, 50000, N'L', CAST(N'2018-04-02' AS Date), N'T', 5)
INSERT [dbo].[sprzedane] ([id_sprzedazy], [id_samochod], [id_klient], [cena], [typ_platnosci], [data], [status], [id_sprzedawcy]) VALUES (2, 227, 29, 100000, N'L', CAST(N'2017-10-20' AS Date), N'T', 5)
INSERT [dbo].[sprzedane] ([id_sprzedazy], [id_samochod], [id_klient], [cena], [typ_platnosci], [data], [status], [id_sprzedawcy]) VALUES (3, 231, 32, 45000, N'L', CAST(N'2017-05-10' AS Date), N'T', 1)
SET IDENTITY_INSERT [dbo].[sprzedane] OFF
SET IDENTITY_INSERT [dbo].[typ_nadwozia] ON 

INSERT [dbo].[typ_nadwozia] ([id_nadwozie], [nadwozie_typ], [nadw_informacje_dodatkowe]) VALUES (1, N'sedan               ', NULL)
INSERT [dbo].[typ_nadwozia] ([id_nadwozie], [nadwozie_typ], [nadw_informacje_dodatkowe]) VALUES (2, N'kombi               ', NULL)
INSERT [dbo].[typ_nadwozia] ([id_nadwozie], [nadwozie_typ], [nadw_informacje_dodatkowe]) VALUES (3, N'kabriolet           ', NULL)
SET IDENTITY_INSERT [dbo].[typ_nadwozia] OFF
ALTER TABLE [dbo].[klient_dane]  WITH CHECK ADD  CONSTRAINT [FK_klient_dane_klient] FOREIGN KEY([id_klient])
REFERENCES [dbo].[klient] ([id_klienta])
GO
ALTER TABLE [dbo].[klient_dane] CHECK CONSTRAINT [FK_klient_dane_klient]
GO
ALTER TABLE [dbo].[klient_preferencje]  WITH CHECK ADD  CONSTRAINT [FK_klient_preferencje_klient] FOREIGN KEY([id_klient])
REFERENCES [dbo].[klient] ([id_klienta])
GO
ALTER TABLE [dbo].[klient_preferencje] CHECK CONSTRAINT [FK_klient_preferencje_klient]
GO
ALTER TABLE [dbo].[powiazanie_wyposazenie_samochod]  WITH CHECK ADD  CONSTRAINT [FK_powiazanie_wyposazenie_samochod_samochod_wyposazenie] FOREIGN KEY([id_wyposazenie])
REFERENCES [dbo].[samochod_wyposazenie] ([id_wyposazenie])
GO
ALTER TABLE [dbo].[powiazanie_wyposazenie_samochod] CHECK CONSTRAINT [FK_powiazanie_wyposazenie_samochod_samochod_wyposazenie]
GO
ALTER TABLE [dbo].[powiazanie_wyposazenie_samochod]  WITH CHECK ADD  CONSTRAINT [FK_powiazanie_wyposazenie_samochod_samochody_na_sprzedaz] FOREIGN KEY([id_samochod])
REFERENCES [dbo].[samochody_na_sprzedaz] ([id_samochod])
GO
ALTER TABLE [dbo].[powiazanie_wyposazenie_samochod] CHECK CONSTRAINT [FK_powiazanie_wyposazenie_samochod_samochody_na_sprzedaz]
GO
ALTER TABLE [dbo].[rezerwacje]  WITH CHECK ADD  CONSTRAINT [FK_rezerwacje_samochody_na_sprzedaz] FOREIGN KEY([id_samochodu])
REFERENCES [dbo].[samochody_na_sprzedaz] ([id_samochod])
GO
ALTER TABLE [dbo].[rezerwacje] CHECK CONSTRAINT [FK_rezerwacje_samochody_na_sprzedaz]
GO
ALTER TABLE [dbo].[samochody_na_sprzedaz]  WITH CHECK ADD  CONSTRAINT [FK_samochody_na_sprzedaz_model] FOREIGN KEY([id_model])
REFERENCES [dbo].[model] ([id_model])
GO
ALTER TABLE [dbo].[samochody_na_sprzedaz] CHECK CONSTRAINT [FK_samochody_na_sprzedaz_model]
GO
ALTER TABLE [dbo].[samochody_na_sprzedaz]  WITH CHECK ADD  CONSTRAINT [FK_samochody_na_sprzedaz_typ_nadwozia] FOREIGN KEY([id_nadwozie])
REFERENCES [dbo].[typ_nadwozia] ([id_nadwozie])
GO
ALTER TABLE [dbo].[samochody_na_sprzedaz] CHECK CONSTRAINT [FK_samochody_na_sprzedaz_typ_nadwozia]
GO
ALTER TABLE [dbo].[sprzedane]  WITH CHECK ADD  CONSTRAINT [FK_sprzedane_klient] FOREIGN KEY([id_klient])
REFERENCES [dbo].[klient] ([id_klienta])
GO
ALTER TABLE [dbo].[sprzedane] CHECK CONSTRAINT [FK_sprzedane_klient]
GO
ALTER TABLE [dbo].[sprzedane]  WITH CHECK ADD  CONSTRAINT [FK_sprzedane_samochody_na_sprzedaz] FOREIGN KEY([id_samochod])
REFERENCES [dbo].[samochody_na_sprzedaz] ([id_samochod])
GO
ALTER TABLE [dbo].[sprzedane] CHECK CONSTRAINT [FK_sprzedane_samochody_na_sprzedaz]
GO
/****** Object:  StoredProcedure [dbo].[dodaj_klienta]    Script Date: 02.06.2018 22:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[dodaj_klienta] 

@imie varchar(15),@nazw varchar(20) ,@email varchar(20) , @kontakt  varchar (20)
AS
BEGIN

declare 

	@output varchar(10),
	@login varchar(10),
	@haslo varchar(10)

exec gen_haslo_login @output output
set @login = @output
exec gen_haslo_login @output output


  IF @imie  is null or @nazw is null or @kontakt is null
    BEGIN
        PRINT 'BRAK ARGUMENTU'
        RETURN
    END

 IF exists (select * from klient where imie = @imie and nazwisko = @nazw)
    BEGIN
        PRINT 'uzytkownik' + @imie + @nazw + 'jest już w systemie'
        RETURN
    END


	IF exists (select * from klient where email = @email)
    BEGIN
        PRINT 'adres mejlowy ' + @email + 'jest już w systemie'
        RETURN
    END


	insert into klient (imie,nazwisko,email,kontakt,login,haslo,typ)
		values (@imie,@nazw,@email,@kontakt,@login,@output,'S')
		BEGIN
       
		print ' twój login ' + @login + ' i hasło ' + @output

		end
end
GO
/****** Object:  StoredProcedure [dbo].[gen_haslo_login]    Script Date: 02.06.2018 22:44:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[gen_haslo_login] 

@output varchar(10) output

as


declare @zakres int = 74
declare @min int = 48
declare @char char
declare @dlug int = 7


set @output = ''


while @dlug > 0 begin

	select @char = char(round(rand()*@zakres+@min,0))
	
	set @output += @char
	set @dlug =@dlug-1

	end
return 
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "klient_preferencje"
            Begin Extent = 
               Top = 0
               Left = 291
               Bottom = 253
               Right = 590
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "klient"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 234
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_klienci_preferencje'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_klienci_preferencje'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "klient"
            Begin Extent = 
               Top = 13
               Left = 10
               Bottom = 234
               Right = 180
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "klient_dane"
            Begin Extent = 
               Top = 7
               Left = 370
               Bottom = 223
               Right = 612
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 10
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1995
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_klient_dane'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_klient_dane'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "v_samochody_do_sprzedania"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 255
               Right = 324
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_marki_na_stanie'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_marki_na_stanie'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "samochody_na_sprzedaz"
            Begin Extent = 
               Top = 55
               Left = 18
               Bottom = 259
               Right = 255
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "sprzedane"
            Begin Extent = 
               Top = 11
               Left = 404
               Bottom = 141
               Right = 574
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "model"
            Begin Extent = 
               Top = 147
               Left = 489
               Bottom = 277
               Right = 738
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "klient"
            Begin Extent = 
               Top = 16
               Left = 757
               Bottom = 146
               Right = 927
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1785
         Width = 1500
         Width = 1950
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_raport_sprzedaz'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_raport_sprzedaz'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_raport_sprzedaz'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "v_raport_sprzedaz"
            Begin Extent = 
               Top = 7
               Left = 160
               Bottom = 259
               Right = 385
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1845
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_raport_typu_platnosci'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_raport_typu_platnosci'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "klient"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "model"
            Begin Extent = 
               Top = 141
               Left = 561
               Bottom = 271
               Right = 810
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "rezerwacje"
            Begin Extent = 
               Top = 6
               Left = 533
               Bottom = 136
               Right = 703
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "samochody_na_sprzedaz"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 275
            End
            DisplayFlags = 280
            TopColumn = 9
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 11
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1725
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_rezerwacje_klient_samochod'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'= 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_rezerwacje_klient_samochod'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_rezerwacje_klient_samochod'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "model"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 235
               Right = 287
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "samochody_na_sprzedaz"
            Begin Extent = 
               Top = 6
               Left = 325
               Bottom = 245
               Right = 562
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "typ_nadwozia"
            Begin Extent = 
               Top = 6
               Left = 600
               Bottom = 119
               Right = 844
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 11
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_samochody_do_sprzedania'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_samochody_do_sprzedania'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "model"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 287
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "samochody_na_sprzedaz"
            Begin Extent = 
               Top = 23
               Left = 329
               Bottom = 257
               Right = 566
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "typ_nadwozia"
            Begin Extent = 
               Top = 6
               Left = 600
               Bottom = 222
               Right = 844
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_samochody_sprzedane'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_samochody_sprzedane'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "v_raport_sprzedaz"
            Begin Extent = 
               Top = 9
               Left = 83
               Bottom = 258
               Right = 317
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'wyniki_sprzedawcy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'wyniki_sprzedawcy'
GO
